.table-bordered {
  border-width: 1px 1px 1px 0px;
  border-style: solid solid solid none;
  border-color: #DDD #DDD #DDD -moz-use-text-color;
  border-collapse: collapse;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.table-bordered th,
.table-bordered td {
  min-width: 150px;
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #DDD;
}

.table-bordered th {
  background-color: #1e7db9;
  color: #ffffff;
}

td.delete_row {
  text-align: center;
}

.delete_row:hover {
  color: red;
  cursor:pointer;
}